#pic1, #pic2, #pic3, #pic4, #pic5, #pic6, #pic7, #pic8 {
  display: none;
}

#showing {
  cursor: pointer;
  color: #0088cc;
}

#showing:hover {
  text-decoration: underline;
}

#cute {
  font-family: Monaco;
  color: hotpink;
}

#scary {
  font-family: Arial;
  color: red;
}
